{% extends 'base.html.twig' %}

{% block body_id 'task_new' %}

{% block main %}
    <h1>{{ 'title.task_new'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_task'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
