{% extends 'base.html.twig' %}

{% block body_id 'task_show' %}

{% block main %}
    <h1>{{ task.title }}</h1>

    <p class="task-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ task.createdAt|date('Y-m-d H:i:s') }}</span>
        <span class="metadata"><i class="fa fa-calendar"></i> {{ task.updatedAt|date('Y-m-d H:i:s') }}</span>
    </p>

    {{ task.description }}
    <span id="status">{{ 'status.attribute'|trans }}: {{ task.status|trans }}</span>

    {% if task.status != 'Completed' %}
        <button id="update-task">{{ 'label.set.completed'|trans }}</button>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% if task.status != 'Completed' %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            $("#update-task").click(function() {
                that = $(this);
                $.ajax({
                    url:'{{ (path('task_update_status', {taskId: task.id})) }}',
                    type: 'PATCH',
                    dataType: 'json',
                    data: {'status': 'Completed'},
                    async: true,
                    success: function (data)
                    {
                        $('#update-task').toggle();
                        $('#status').html('{{ 'status.attribute'|trans }}: {{ 'Completed'|trans }}');
                    }
                });
                return false;
            });
        </script>
    {% endblock %}
{% endif %}
