{% extends 'base.html.twig' %}

{% block body_id 'blog_task_show' %}

{% block main %}
    <h1>{{ task.title }}</h1>

    <p class="task-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ task.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
    </p>

    {{ task.description|md2html }}
    Status: {{ task.status }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
